
@import url('http://fonts.cdnfonts.com/css/gyahegi');

#page-2{
  display:none;
  background-image: linear-gradient(#C0AE9A, #D5DAD3);
  background-repeat:no-repeat;
  background-attachment: fixed; 
} 
body{
  background-image: linear-gradient(#C0AE9A, #D5DAD3);
  background-repeat:no-repeat;
  background-attachment: fixed; 
}

header {
    /* background-color: #15A390; */
    /* #86c3b4; ; */
    /* height: 40vh; */
    /* width: 100vw; */
    /* display: inline-block; */
    /* padding-top: 100px; */
    text-align: center;
    /* padding-bottom: 10em; */
    
}
.cards{
    /* display: none; */
    flex-wrap: wrap;
    justify-content: center;
    /* display: none; */
    padding-top: 10px;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    height: 400px;
    width: 400px;
    transition: all 0.2s ease-in-out;
    cursor: pointer; 
    border-radius: 5%;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    transform: scale(1.1);
   }
  /* Add some padding inside the card container */
  .container {
    padding: 2.5em 8em;
    height: 50px;
    text-align: center;
    font-weight: bolder;

  }
  img{
      height: 325px;
      width:325;
      border-radius: 5%;
    }

  #random-Btn{
      color:black ;
      background-color: transparent;
      border: black 1px solid;
      transition: all 0.2s ease-in-out;
  }
 #random-Btn:hover {
    background-color: #8A796F;
    /* #A2A1DB; */
    /* #FBBB8D; */
    color: white;
    animation: swing 1s ease;
    animation-iteration-count: 1;
  }
 #page-2-img{
   width:400px ;
   height: 300px;
   padding-right: 20px;
 }
 .img-txt{
   display: flex;
 }
 .ingredients-title{
  display: flex;
  padding-left: 40px;
 }

 .ing-title{
   padding-left: 18px;
 }
 .ingredients-box{
width:200px ;
 }

h4{
 font-weight: bolder;
 font-size: 1.4em;
 width: max-content;
 align-items: center;
}
  
   @keyframes swing {
    15% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    30% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    50% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    65% {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    80% {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  } 

  
 .ingredients-div{
   display: flex;
   height: 200px;
   overflow-y: scroll;
   /* margin-left: px; */
   margin-right: 80px;
 }

.video-div{
  margin-top: 10px;
  padding-left: 90px;
}

#back-btn{
  margin: 0;
   background-color: transparent;
   font-size: 50px;
   border:none;
}

#main-title{
  padding-top: 10px; 
  font-family: 'Gyahegi', sans-serif;                                
}

.title{
  font-family: 'Gyahegi', sans-serif;  
  text-align:center;
  font-size: 4em;
  margin-bottom: 80px;
}

#bottom-half{
  display: flex;
  margin-top: 60px;
}